package main

import (
	"fmt"
	"net/url"
	"os"
)

// Default URL for the update API, overriden with CORE_UPDATE_URL
// TODO BP: use api.core-os.net instead but need to override CA certs
var updateURL = url.URL{Scheme: "https", Host: "core-api.appspot.com"}

func init() {
	// Setup the updateURL if the environment variable is set
	envApi := os.Getenv("CORE_UPDATE_URL")
	if envApi != "" {
		envUrl, err := url.Parse(envApi)
		if err != nil {
			fmt.Printf("Error: couldn't parse CORE_UPDATE_URL: %s", err.Error())
			os.Exit(-1)
		}
		updateURL = *envUrl
	}
}

// Authentication Constants
var scope =  "https://www.googleapis.com/auth/appengine.admin" 
var clientId = "434611709510-gi24lp2o81agl978fi9ffub997c964pg.apps.googleusercontent.com" //OR ENTER YOUR OWN CLIENT ID
var clientSecret = "YOUR CLIENT SECRET"
var projectID = "core-api"//OR YOU OWN projectId
